nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 5%;
  right: 5%;
  z-index: 1;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #455442;
}

nav a:hover {
  margin-right: 20px;
  text-decoration: none;
  color: #8e8f27;
}

nav a.active {
  color: #8e8f27;
}

nav Link {
  margin-right: 20px;
  text-decoration: none;
  color: #455442;
}